<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="css4.css" rel="stylesheet"/>
        <title>Bookface</title>
    </head>


    <body>
        <header>
            <a href="https://www.infowars.com/"><img alt="Logo" src="https://www.iconsdb.com/icons/preview/blue/letter-b-xxl.png" height=80></a>
            Bookface

        </header>
        <main>
            <p>
                <a href="/profile">Smith John's profile</a>
            </p>
            <p>
                <a href="/profile2">Donald Reagan's profile</a>
            </p>
        </main>
    </body>
</html>
